.DS_Store
MyPlayground.playground/xcuserdata/olegkirsanov.xcuserdatad/xcschemes/xcschememanagement.plist
MyPlayground.playground/playground.xcworkspace/xcuserdata/olegkirsanov.xcuserdatad/UserInterfaceState.xcuserstate
